<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- local connection properties -->
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cnammediatheque</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.username">orm</property>
		<property name="hibernate.connection.password">orm</property>
		<property name="hibernate.connection.pool_size">10</property>
		
		<!-- dialect for MySQL -->
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		
		<property name="hibernate.show_sql">true</property>
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="cache.use_query_cache">false</property>
		
		<!-- mapping files -->
		
	</session-factory>
</hibernate-configuration>