.titresite{
	color : #FFF !important;
}

.fa-thumbnails{
	background-color: #EEE;
	border-radius : 6px;
	padding-top: 15px;
	width: 200px !important;
	height : 100px;
}

.centeredSection {
    display: block;
    width: 100px;
    margin: 30px auto auto;
    text-align: center;
    //background-color: #5AAC41;
    //border: 1px solid #402817;
}

h4 {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 15px;
}

h3 {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 30px;
}

.spacer {
height: 1px;
margin-bottom: 40px;
}

.content .container {
  max-width: 100%;
}

.footer {
	//position: absolute;
	bottom: 0;
	width: 100%;
	background-color: #f5f5f5;
	color: #767676;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
}

#cnam-logo-header {
	background: url("../img/Logo_cnam_35.gif") repeat scroll 0% 0% transparent;

	width: 190px;
	height: 35px;
	float: left;
	margin-right: 30px;
	margin-top: 4px;
}